<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Мой веб сервер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="card">
        <h1>Анкета разработка на Web-Python</h1>

        <form method="POST">
                <p>
                    <label>Твоё имя:</label><br>
                    <input type = "text" name = "user_name" placeholder = "ввидите имя..." required>
                </p>
                
                <p>
                    <label>Твой возраст:</label><br>
                    <input type = "number" min = "0" name = "user_age" placeholder = "сколько лет?" required>
                </p>

                <p>
                    <label>Опыт программирования в годах:</label><br>
                    <input type = "number" min = "0" name = "user_ageExperience" placeholder = "опыт программирования?" required>
                </p>

                <p>
                    <label>Специальность:</label><br>
                    <select class="select" name = "speciality">
                        <option>Frontend Developer</option>
                        <option>Back-эндер(python/flask)</option>
                        <option>Cyber sec</option>
                        <option>GameDev</option>
                    </select>
                </p>

                <p>
                    <button class="btn btn-primary" type = "submit">Отправить на серве...</button>        
                </p>
        </form>
    </div>
    <div class="card">
            {% if reply %}
                <div class = "result">{{ reply }}</div>
            {% endif %}
    </div>

</body>
</html>
